body {
  margin: 0;
  padding: 0;
  font-family: Courier !important;
  /*, 'Times', serif;*/
  font: 12px Times normal;
}

section, footer {
  padding: 10px;
  border: 1px yellow dashed;
}

/* ****************************** */
/* *** flex box
/* ****************************** */
.topMenu, .friendLink {
  width: 90%;
  min-height: 30px;
  padding:2px;
  margin: auto;
  display: flex;
  background-color: DodgerBlue;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* around; /*flex-start;*/
  align-items: center;
  border: 1px red dashed;
}
.topMenu span, .friendLink span {
  display: inline-block;
  background-color: #eee;
  padding: 4px;
  width: 15%;
  min-width: 80px;
  margin:2px;
  text-align: center;
}

/* ****************************** */
/* end flex */
/* ****************************** */
.gridHead {
  width: 90%;
  display: block;
  text-align: center;
  margin: 8px auto;
  border: 1px red dashed;
}

/* ****************************** */
/* *** grid template area         */
/* ****************************** */
.page { /* grid template A */
  width: 90%;             /* taggen skall uppta 90% av skärmbredd */
  margin: auto;           /* auto => taggen centreras på skärmen */
  border: 1px gold solid; /* för att visa taggens utbredning */
  height: 600px;
  display: grid;          /* rutnäts direktiv */
}

/* Media query - css motsvarighet till if-sats */
/* snabel a indikerar att det är något alldeles speciellt */
/* det närmaste vi kommer programmering i css */
/* om skärmen har minst 700 px bredd så gäller detta */
@media (min-width: 700px) {
  .page {
    grid-template-areas:
      "logo   top   top    top"
      "left   main   main   main"
      "left   main   main   main"
      "left   main   main   main"
      "footer footer footer footer";
  }
  .drop {
    display: none;
  }
  .footer {
	background-color:yellow;	
  }
}

/* om skärmen har högst 700 px bredd så gäller detta */
@media (max-width: 700px) {
  .page {
    grid-template-areas:
      "drop   top"
      "main   main"
      "main   main"
      "main   main"
      "footer footer";
  }
  .logo, .left {
    display: none;
  }
}

.page span {
  border: 1px blue dashed;
}

.logo {
  grid-area: logo;
  background-color: red;
}
.drop {
  grid-area: drop;
  background-color: gold;
}

.top {
  grid-area: top;
  background-color: violet;
}

.left {
  grid-area: left;
  background-color: violet;
}
.footer {
  grid-area:footer;
  background-color: orange;
}
.main {
  grid-area: main;
  background-color: DodgerBlue;
}

/* ************************************** */
/* slut på grid template area css */
/* ************************************** */

.col1n2 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.row1n2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.red {
  background-color: red;
}

.green {
  background-color: #90ff30;
}

.violet {
  background-color: violet;
}

.yellow {
  background-color: yellow;
}
