body {
  margin: 0;
  padding: 0;
  font-family: Courier !important;
  /*, 'Times', serif;*/
  font: 12px Times normal;
}
section, footer {
  padding: 10px;
  border: 1px yellow dashed;
}
/* ****************************** */
/* *** flex box
/* ****************************** */
.topMenu, .friendLink {
  width: 90%;
  min-height: 30px;
  padding:2px;
  margin: auto;
  margin-top:4px;
  display: flex;
  background-color: navy;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* around; /*flex-start;*/
  align-items: center;
  border: 1px red dashed;
}
.topMenu span, .friendLink span {
  display: inline-block;
  background-color: #eee;
  padding: 4px;
  width: 15%;
  min-width: 80px;
  margin:2px;
  text-align: center;
}

/* ****************************** */
/* end flex */
/* ****************************** */
.gridHead {
  width: 90%;
  display: block;
  text-align: center;
  margin: 8px auto;
  border: 1px red dashed;
}

/* ****************************** */
/* *** grid template area         */
/* ****************************** */
.page { /* grid template A */
  width: 90%;             /* taggen skall uppta 90% av skärmbredd */
  margin: auto;           /* auto => taggen centreras på skärmen */
  border: 1px gold solid; /* för att visa taggens utbredning */
  height: 600px;
  display: grid;          /* rutnäts direktiv */
  align-items: auto;      /* default */
  justify-items: auto; /* left;  auto; */
}

/* Media query - css motsvarighet till if-sats */
/* snabel a indikerar att det är något alldeles speciellt */
/* det närmaste vi kommer programmering i css */
/* om skärmen har minst 700 px bredd så gäller detta */
@media (min-width: 700px) {
  .page {
    grid-template-areas:
      "logo   top   top    top"
      "left   main   main   main"
      "left   main   main   main"
      "left   main   main   main"
      "footer footer footer footer";

      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .drop {
    display: none;
  }
  .footer {
	background-color:yellow;
  }
}

/* om skärmen har högst 700 px bredd så gäller detta */
@media (max-width: 700px) {
  .page {
    grid-template-areas:
      "drop   top    top"
      "main   main   main"
      "main   main   main"
      "main   main   main"
      "footer footer footer";
      grid-template-columns: 1fr 1fr 1fr;
  }
  .logo, .left {
    display: none;
  }
}
.page span {
  border: none;
}
.logo {
  grid-area: logo;
  background-color: red;
}
.drop {
  grid-area: drop;
  background-color: gold;
}
.top {
  grid-area: top;
  background-color: violet;
}
.left {
  grid-area: left;
  background-color: violet;
}
.footer {
  grid-area:footer;
  background-color: orange;
}
.main {
  grid-area: main;
  background-color: lightblue;
}

/* ************************************** */
/* slut på grid template area css */
/* ************************************** */

/* *********************************** */
/* Dropdown meny                       */
/* *********************************** */
.dropMenu {
  position: relative;
  display: inline-block;
  padding: 0px;
  top: 4px;
  left: 0;
  border: 2px red dashed; /* not inherited */
}
.dropMenu button {
  background-color: gray;
  padding: 0px;
  color: white;
  font-size: 16px;
  width: 100%;
  display: inline-block;
  border: 2px green dotted;
}
.dropCnt {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width:100%;
}
.dropCnt a {
  color: black;
  padding: 6px 0px;
  text-decoration: none;
  display: inline-block;
  width:100%;
}
.dropCnt a:hover {background-color: #ddd;}
.dropMenu:hover .dropCnt {display: block;}
.dropMenu:hover > button  {
  background-color: green;
}
/* slut drop down meny css */

/* *********************** */
/* menu.php style          */
/* *********************** */
.topMenu span.active, .dropMenu span.active {
  background-color: yellow;
}
